{% extends 'base.html' %}
{% load static %}
{% block main_containt %}
    <!-- Main Body Starts -->
    <div class="container-fluid login-one-container">
        <div class="p-30 h-100">
            <div class="row main-login-one h-100">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 p-0">
                    <form class="login-one-start needs-validation" method="post" action="{% url 'verify_otp' verify_for=request.session.otp_for %}" novalidate>
                        {% csrf_token %}
                        <h6 class="mt-2 text-primary text-center font-20">OTP Verificationp</h6>
                        <p class="text-center text-muted mt-3 mb-3 font-14">Fill up to verify OTP.</p>
                        
                        <div class="capt mt-5 "> 
                            
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <div class="login-one-inputs">
                                    <input type="password" id="txtInputCaptcha" name="otp" placeholder="Enter Captcha"/>  
                                    <i class="las la-robot"></i>
                                </div>  
                                
                            </div>
                        </div>
                        
                        <div class="login-one-inputs mt-4">
                            <button class="ripple-button ripple-button-primary btn-lg btn-login" type="submit">
                                <div class="ripple-ripple js-ripple">
                                <span class="ripple-ripple__circle"></span>
                                </div>
                                Verify
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-xl-8 col-lg-6 col-md-6 d-none d-md-block p-0">
                    <div class="slider-half">
                        <div class="slide-content">
                            <div class="top-sign-up ">
                                <div class="about-comp text-white mt-2">NeptuneApp</div>
                                <div class="for-sign-up">
                                    <p class="text-white font-12 mt-2 font-weight-300">Already have an account ?</p>
                                    <a href="/">Login</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <i class="lar la-grin-alt font-45 text-white"></i>
                                    <h2 class="font-30 text-white mt-2">Start your journey</h2>
                                    <p class="summary-count text-white font-12 mt-2 slide-text" >Everyone has been made for some particular work, and the desire for that work has been put in every heart</p>
                                </div>
                                <div class="item">
                                    <i class="lar la-clock font-45 text-white"></i>
                                    <h2 class="font-30 text-white mt-2">Save your time</h2>
                                    <p class="summary-count text-white font-12 mt-2 slide-text" >Everyone has been made for some particular work, and the desire for that work has been put in every heart</p>
                                </div>
                                <div class="item">
                                    <i class="las la-hand-holding-usd font-45 text-white"></i>
                                    <h2 class="font-30 text-white mt-2">Save your money</h2>
                                    <p class="summary-count text-white font-12 mt-2 slide-text" >Everyone has been made for some particular work, and the desire for that work has been put in every heart</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <!-- Main Body Ends -->

{% endblock %}