{% extends 'base.html' %}
{% load static %}
{% block main_containt %}
    <div class="layout-px-spacing">    
        <div class="account-settings-container layout-top-spacing">
            <div class="account-content">
                <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                            <div id="general-info" class="section general-info">
                                <div class="info">
                                    <div class="d-flex mt-2">
                                        
                                        <div class="profile-edit-right">
                                            <div class="tab-content" id="v-border-pills-tabContent">
                                                <div class="tab-pane fade show active" id="v-border-pills-general" role="tabpanel" aria-labelledby="v-border-pills-general-tab">
                                                    <div class="row">
                                                        <div class="col-xl-3 col-lg-12 col-md-12">
                                                            <div class="upload text-center img-thumbnail">
                                                                <input type="file" id="input-file-max-fs" class="dropify" data-default-file="assets/img/profile-16.jpg" data-max-file-size="2M" />
                                                                <p class="mt-2"><i class="flaticon-cloud-upload mr-1"></i> Upload Picture</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-9 col-lg-12 col-md-12 mt-md-0 mt-4">
                                                            <div class="form">
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group">
                                                                            <label for="fullName">Full Name</label>
                                                                            <input type="text" class="form-control mb-4" placeholder="Full Name" value="Sara Williamson">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <label class="dob-input spl-left">Date of Birth</label>
                                                                        <div class="d-sm-flex d-block">
                                                                            <div class="form-group mr-1">
                                                                                <select class="form-control" >
                                                                                <option>Day</option>
                                                                                <option>1</option>
                                                                                <option>2</option>
                                                                                <option>3</option>
                                                                                <option>4</option>
                                                                                <option>5</option>
                                                                                <option>6</option>
                                                                                <option>7</option>
                                                                                <option>8</option>
                                                                                <option>9</option>
                                                                                <option>10</option>
                                                                                <option selected>11</option>
                                                                                <option>12</option>
                                                                                <option>13</option>
                                                                                <option>14</option>
                                                                                <option>15</option>
                                                                                <option>16</option>
                                                                                <option>17</option>
                                                                                <option>18</option>
                                                                                <option>19</option>
                                                                                <option>20</option>
                                                                                <option>21</option>
                                                                                <option>22</option>
                                                                                <option>23</option>
                                                                                <option>24</option>
                                                                                <option>25</option>
                                                                                <option>26</option>
                                                                                <option>27</option>
                                                                                <option>28</option>
                                                                                <option>29</option>
                                                                                <option>30</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group mr-1">
                                                                                <select class="form-control">
                                                                                    <option>Month</option>
                                                                                    <option>Jan</option>
                                                                                    <option>Feb</option>
                                                                                    <option>Mar</option>
                                                                                    <option>Apr</option>
                                                                                    <option>May</option>
                                                                                    <option>Jun</option>
                                                                                    <option>Jul</option>
                                                                                    <option>Aug</option>
                                                                                    <option selected>Sep</option>
                                                                                    <option>Oct</option>
                                                                                    <option>Nov</option>
                                                                                    <option>Dec</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group mr-1">
                                                                                <select class="form-control">
                                                                                <option>Year</option>
                                                                                <option>2018</option>
                                                                                <option>2017</option>
                                                                                <option>2016</option>
                                                                                <option>2015</option>
                                                                                <option>2014</option>
                                                                                <option>2013</option>
                                                                                <option>2012</option>
                                                                                <option>2011</option>
                                                                                <option>2010</option>
                                                                                <option>2009</option>
                                                                                <option>2008</option>
                                                                                <option>2007</option>
                                                                                <option>2006</option>
                                                                                <option>2005</option>
                                                                                <option>2004</option>
                                                                                <option>2003</option>
                                                                                <option>2002</option>
                                                                                <option>2001</option>
                                                                                <option>2000</option>
                                                                                <option>1999</option>
                                                                                <option>1998</option>
                                                                                <option>1997</option>
                                                                                <option>1996</option>
                                                                                <option>1995</option>
                                                                                <option>1994</option>
                                                                                <option>1993</option>
                                                                                <option selected>1992</option>
                                                                                <option>1991</option>
                                                                                <option>1990</option>
                                                                                <option>1989</option>
                                                                                <option>1988</option>
                                                                                <option>1987</option>
                                                                                <option>1986</option>
                                                                                <option>1985</option>
                                                                                <option>1984</option>
                                                                                <option>1983</option>
                                                                                <option>1982</option>
                                                                                <option>1981</option>
                                                                                <option>1980</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="profession">Profession</label>
                                                                    <input type="text" class="form-control mb-4" placeholder="Eg. Admin" value="Data Analyst">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="v-border-pills-about" role="tabpanel" aria-labelledby="v-border-pills-about-tab">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="aboutBio">Bio</label>
                                                                <textarea class="form-control" placeholder="Tell something interesting about yourself" rows="10">I interpret data and turns it into information which can offer ways to improve a business, thus affecting business decisions. I gather information from various sources and interpret patterns and trends – as such a Data Analyst job description should highlight the analytical nature of the role.
                                    My responsibilities include:
                                    Interpreting data, analyzing results using statistical techniques.
                                    Developing and implementing data analyses, data collection systems.
                                    Acquiring data from primary or secondary data sources and maintaining databases.</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="v-border-pills-domain" role="tabpanel" aria-labelledby="v-border-pills-domain-tab">
                                                    <div class="row">
                                                        <div class="col-md-12 text-right mb-2">
                                                            <button class="btn btn-primary btn-sm">Add +</button>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="platform-div">
                                                                <div class="form-group">
                                                                    <label for="platform-title">Name</label>
                                                                    <input type="text" class="form-control mb-4" placeholder="Name" value="Data Analyst">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="platform-description">Description</label>
                                                                    <textarea class="form-control mb-4" placeholder="Platforms Description" rows="10">A Data Analyst interprets data and turns it into information which can offer ways to improve a business, thus affecting business decisions. Data Analysts gather information from various sources and interpret patterns and trends – as such a Data Analyst job description should highlight the analytical nature of the role.</textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="v-border-pills-contact" role="tabpanel" aria-labelledby="v-border-pills-contact-tab">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="country">Country</label>
                                                                        <select class="form-control">
                                                                            <option>All Countries</option>
                                                                            <option selected>United States</option>
                                                                            <option>Uruguay</option>
                                                                            <option>Argentina</option>
                                                                            <option>France</option>
                                                                            <option>Italy</option>
                                                                            <option>India</option>
                                                                            <option>Japan</option>
                                                                            <option>Turkey</option>
                                                                            <option>Russia</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="address">Address</label>
                                                                        <input type="text" class="form-control mb-4" placeholder="Address" value="" >
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="location">Location</label>
                                                                        <input type="text" class="form-control mb-4" placeholder="Location">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="phone">Phone</label>
                                                                        <input type="text" class="form-control mb-4" placeholder="Write your phone number here" value="+1 (000) 125-45854">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="email">Email</label>
                                                                        <input type="text" class="form-control mb-4" placeholder="Write your email here" value="sara@gmail.com">
                                                                    </div>
                                                                </div>                                    
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="website1">Website</label>
                                                                        <input type="text" class="form-control mb-4" placeholder="Write your website here" value="www.demowebsite.com">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="v-border-pills-social" role="tabpanel" aria-labelledby="v-border-pills-social-tab">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-10 mb-3">
                                                                    <div class="form-group">
                                                                        <label for="country">Select Social Media</label>
                                                                        <select class="form-control">
                                                                            <option>Github</option>
                                                                            <option>Slack</option>
                                                                            <option>Snapchat</option>
                                                                            <option>Outlook</option>
                                                                            <option>Google</option>
                                                                            <option>Wordpress</option>
                                                                            <option>Gitlab</option>
                                                                        </select>              
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 pt-1 mb-3">
                                                                    <button class="btn btn-primary">Add</button>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="input-group social-linkedin mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text bg-linkedin">
                                                                                <i class="lab la-linkedin-in font-30 text-white"></i>
                                                                            </span>
                                                                        </div>
                                                                        <input type="text" class="form-control border-0" placeholder="linkedin Username" aria-label="Username" aria-describedby="linkedin" value="sara.williams">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="input-group social-tweet mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text bg-info">
                                                                                <i class="lab la-twitter font-30 text-white"></i>
                                                                            </span>
                                                                        </div>
                                                                        <input type="text" class="form-control border-0" placeholder="Twitter Username" aria-label="Username" aria-describedby="tweet" value="@swilliams">
                                                                    </div>
                                                                </div>   
                                                                <div class="col-md-4">
                                                                    <div class="input-group social-insta mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text bg-danger">
                                                                                <i class="lab la-instagram font-30 text-white"></i>
                                                                            </span>
                                                                        </div>
                                                                        <input type="text" class="form-control border-0" placeholder="Github Username" aria-label="Username" aria-describedby="github" value="@sara.williams">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="input-group social-fb mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text bg-facebook">
                                                                                <i class="lab la-facebook-f font-30 text-white"></i>
                                                                            </span>
                                                                        </div>
                                                                        <input type="text" class="form-control border-0" placeholder="Facebook Username" aria-label="Username" aria-describedby="fb" value="sara.williams">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="input-group social-skype mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text bg-info">
                                                                                <i class="lab la-skype font-30 text-white"></i>
                                                                            </span>
                                                                        </div>
                                                                        <input type="text" class="form-control border-0" placeholder="Github Username" aria-label="Username" aria-describedby="github" value="@sara_williams">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="input-group social-apple mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text bg-dark">
                                                                                <i class="lab la-apple font-30 text-white"></i>
                                                                            </span>
                                                                        </div>
                                                                        <input type="text" class="form-control border-0" placeholder="Github Username" aria-label="Username" aria-describedby="github" value="@sara.williams">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="v-border-pills-education" role="tabpanel" aria-labelledby="v-border-pills-education-tab">
                                                    <div class="col-md-12 text-right mb-2">
                                                        <button class="btn btn-primary">Add</button>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="edu-section">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label for="degree1">College</label>
                                                                        <input type="text" class="form-control mb-4" placeholder="Add your education here" value="NIIT">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label>Starting From</label>
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <select class="form-control mb-4">
                                                                                            <option>Month</option>
                                                                                            <option>Jan</option>
                                                                                            <option>Feb</option>
                                                                                            <option>Mar</option>
                                                                                            <option>Apr</option>
                                                                                            <option>May</option>
                                                                                            <option>Jun</option>
                                                                                            <option>Jul</option>
                                                                                            <option>Aug</option>
                                                                                            <option>Sep</option>
                                                                                            <option selected="selected">Oct</option>
                                                                                            <option>Nov</option>
                                                                                            <option>Dec</option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <select class="form-control mb-4">
                                                                                            <option>Year</option>
                                                                                            <option>2020</option>
                                                                                            <option>2019</option>
                                                                                            <option>2018</option>
                                                                                            <option selected="selected">2017</option>
                                                                                            <option>2016</option>
                                                                                            <option>2015</option>
                                                                                            <option>2014</option>
                                                                                            <option>2013</option>
                                                                                            <option>2012</option>
                                                                                            <option>2011</option>
                                                                                            <option>2010</option>
                                                                                            <option>2009</option>
                                                                                            <option>2008</option>
                                                                                            <option>2007</option>
                                                                                            <option>2006</option>
                                                                                            <option>2005</option>
                                                                                            <option>2004</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label>Ending In</label>
                                                                                <div class="row">
                                                                                    <div class="col-md-6 mb-4">
                                                                                        <select class="form-control">
                                                                                            <option>Month</option>
                                                                                            <option selected="selected">Jan</option>
                                                                                            <option>Feb</option>
                                                                                            <option>Mar</option>
                                                                                            <option>Apr</option>
                                                                                            <option>May</option>
                                                                                            <option>Jun</option>
                                                                                            <option>Jul</option>
                                                                                            <option>Aug</option>
                                                                                            <option>Sep</option>
                                                                                            <option>Oct</option>
                                                                                            <option>Nov</option>
                                                                                            <option>Dec</option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <select class="form-control input-sm">
                                                                                            <option>Year</option>
                                                                                            <option selected="selected">2020</option>
                                                                                            <option>2019</option>
                                                                                            <option>2018</option>
                                                                                            <option>2017</option>
                                                                                            <option>2016</option>
                                                                                            <option>2015</option>
                                                                                            <option>2014</option>
                                                                                            <option>2013</option>
                                                                                            <option>2012</option>
                                                                                            <option>2011</option>
                                                                                            <option>2010</option>
                                                                                            <option>2009</option>
                                                                                            <option>2008</option>
                                                                                            <option>2007</option>
                                                                                            <option>2006</option>
                                                                                            <option>2005</option>
                                                                                            <option>2004</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="v-border-pills-work" role="tabpanel" aria-labelledby="v-border-pills-work-tab">
                                                    <div class="row">
                                                        <div class="col-md-12 text-right mb-2">
                                                            <button class="btn btn-primary">Add</button>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="work-section">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label for="degree2">Company Name</label>
                                                                            <input type="text" class="form-control mb-4" placeholder="Add your work here" value="Amazon">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <label for="degree3">Job Title</label>
                                                                                    <input type="text" class="form-control mb-4" placeholder="Job Title" value="Data Analyst">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <label for="degree4"></label>
                                                                                    <input type="text" class="form-control mb-4" placeholder="Location" value="Geneva">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <label>Starting From</label>
                                                                                    <div class="row">
                                                                                        <div class="col-md-6">
                                                                                            <select class="form-control mb-4">
                                                                                                <option>Month</option>
                                                                                                <option>Jan</option>
                                                                                                <option>Feb</option>
                                                                                                <option>Mar</option>
                                                                                                <option>Apr</option>
                                                                                                <option>May</option>
                                                                                                <option>Jun</option>
                                                                                                <option>Jul</option>
                                                                                                <option>Aug</option>
                                                                                                <option>Sep</option>
                                                                                                <option>Oct</option>
                                                                                                <option>Nov</option>
                                                                                                <option>Dec</option>
                                                                                            </select>
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                            <select class="form-control mb-4">
                                                                                                <option>Year</option>
                                                                                                <option>2020</option>
                                                                                                <option>2019</option>
                                                                                                <option>2018</option>
                                                                                                <option>2017</option>
                                                                                                <option>2016</option>
                                                                                                <option>2015</option>
                                                                                                <option>2014</option>
                                                                                                <option>2013</option>
                                                                                                <option>2012</option>
                                                                                                <option>2011</option>
                                                                                                <option>2010</option>
                                                                                                <option>2009</option>
                                                                                                <option>2008</option>
                                                                                                <option>2007</option>
                                                                                                <option>2006</option>
                                                                                                <option>2005</option>
                                                                                                <option>2004</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <label>Ending In</label>
                                                                                    <div class="row">
                                                                                        <div class="col-md-6 mb-4">
                                                                                            <select class="form-control">
                                                                                                <option>Month</option>
                                                                                                <option>Jan</option>
                                                                                                <option>Feb</option>
                                                                                                <option>Mar</option>
                                                                                                <option>Apr</option>
                                                                                                <option>May</option>
                                                                                                <option>Jun</option>
                                                                                                <option>Jul</option>
                                                                                                <option>Aug</option>
                                                                                                <option>Sep</option>
                                                                                                <option>Oct</option>
                                                                                                <option>Nov</option>
                                                                                                <option>Dec</option>
                                                                                            </select>
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                            <select class="form-control input-sm">
                                                                                                <option>Year</option>
                                                                                                <option>2020</option>
                                                                                                <option>2019</option>
                                                                                                <option>2018</option>
                                                                                                <option>2017</option>
                                                                                                <option>2016</option>
                                                                                                <option>2015</option>
                                                                                                <option>2014</option>
                                                                                                <option>2013</option>
                                                                                                <option>2012</option>
                                                                                                <option>2011</option>
                                                                                                <option>2010</option>
                                                                                                <option>2009</option>
                                                                                                <option>2008</option>
                                                                                                <option>2007</option>
                                                                                                <option>2006</option>
                                                                                                <option>2005</option>
                                                                                                <option>2004</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}